@*this is the variable(data) that list-> view passed in*@
@*@model IEnumerable<BethanysPieShop.Models.Pie> ==>    *@

@*@model BethanysPieShop.ViewModels.PieListViewModel ==>    *@

@model PieListViewModel
@*We can do this since we create the _ViewImport and
    I have import the BethanysPieShop.ViewModels in there.
    The ASP.NET Core will autometicly load the _ViewImport
    before come to this page*@



@*This Model with capital m is the data that passed in*@
<h1>@Model.CurrentCategory</h1>

@foreach (var pie in Model.Pies)
{
    <partial name="_PieCard" model="pie" />
}
